<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4"> <%= @task.title %> </h1>
    <p class="lead">  <%= @task.details %> </p>
    <p> <%= @completed_task %> </p>
    <hr>
    <p> <%= link_to "Edit this task", edit_path, class: "btn btn-primary" %> </p>
    <p><%= link_to 'Back to all tasks', root_path %> </p>
  </div>
</div>
